body {
  background: #001741;
  color: white;

  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.creature-list {
  display: flex;      
  flex-direction: column;
  gap: 20px;           
  padding: 20px;
}

/* 3. Style the actual small boxes */
.card {
  width: 200px;                 
  height: 200px;               
  background-color: #022668;    
  border: 2px solid #111111;    
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.controls {
  position: fixed;
  top: 10px;
  left: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search,
.sort-by {
  width: 200px;
  padding: 6px;
}

.search {
  font-size: 16px;
}

.sort-by {
  font-size: 14px;
}